@import 'mixins';
@import 'colors';

@import 'index';
@import 'members';

html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    color: $primary_text;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


@include textAnimation();

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
    transition: box-shadow .2s ease-in-out;
}

.sqs-col-6 {
    width: 50%;
}

a {
    text-decoration: none !important;
    @include transitions(0.5s);
}

strong {
    // color: rgb(0,53,95);
}

.nanobar {
    width: 100%;
    height: 3px;
    z-index: 9999;
    top:0
}
.bar {
    width: 0;
    height: 100%;
    transition: height .3s;
    @include rainbow(3s);
}


.navbar {
    border: 0px;
    background-color: rgba(0,0,0,0) !important;
    min-height: 0;
    padding-bottom: 10px;

    a {
        background-color: white !important;
    }

    .navbar-toggler {
        margin: auto;
        border: 0px;
        font-weight: 700;
    }

    .collapse {
        text-align: center !important;
    }
}

.nav-divider {
    z-index: -200;
    width: 85%;
    margin: auto;
    border-bottom: 2px solid #eee !important;
    line-height: 3em;
    margin-top: -2.3em;
    margin-bottom: 3em;
    font-size: 12px;
}

.header {
    @include backgroundImage('https://ak2.picdn.net/shutterstock/videos/1457272/thumb/1.jpg');
    background-attachment: fixed;
    text-align: center;
    color: white;
    height: 80vh;
}

.autoscroll {
    width: 100%;
    text-align: center;
    bottom: 10px;
    position: absolute;

    a {
        bottom: 0;
        color: white;
        text-decoration: none;
    }

    .scrollbox {
        top: 0;

        .glyphicon {
            font-size: 25px;
        }
    }

    .scrolldown {
        font-size: 3em;
        position: absolute;
        margin-left: -19px;
        margin-bottom: -14px;
    }

    .scrolldownarrow {
        font-size: 1.3em;
        z-index: -1;
        display: block;
    }
}

hr {
    color: $divider_color;
    display: block;
    width: 85%;
    margin: auto;
    height: 3px;
    border: 0;
    border-top: 2px solid #eee;
    // margin: 1em 0;
    padding: 0
}

h1 {
    font-family: "Roboto", sans-serif;
    line-height: 1.20;
    font-weight: 700;
    opacity: 1.0;
    letter-spacing: -0.72px;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-weight: 600;
    opacity: 1.0;
    letter-spacing: -0.72px;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-weight: 400;
    opacity: 0.9;
    letter-spacing: 0;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 5px;
}

span, p {
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    font-weight: 400;
    opacity: 0.7;
    letter-spacing: -0.06px;
    word-spacing: 0;
    text-transform: none;
    margin-top: 0;
}

.title {
    padding: 24px 24px;
    color: $primary_color !important;
    font-weight: 100;
    text-align: center;
    font-family: "amarillo", sans-serif;
    line-height: 1.20;
    opacity: 1.0;
    letter-spacing: -0.72px;
    word-spacing: 0;
    text-transform: none;
    margin-top: 5vh;
    margin-bottom: 10px;
}

@media screen and (min-width:1024px){

}

// // .paper {
//     text-align: center;
// //     position: relative;
// // }

.content {
    h6 {
        font-size: 0.9em;
        margin-top: 45px;
        margin-bottom: 60px;
    }
}

#social-links {
    font-size: 1.5em !important;
    width: 120px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 70px;

    a {
        color: $primary_text;
    }

    a:hover {
        color: $accent_color;
    }
}

.container {
    display: flex;
    flex-flow: row wrap;
    // flex-direction: column;
    justify-content: space-between;
}

.text-container {
    color: #ffffff;
}

.row {
    flex-direction: row;
}

.section {
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section:first-child {
    height: 90vh;
}

.section:not(:first-child) {
    padding-top: 125px;
    padding-bottom: 40px;
    background-color: #f3f3f3;
}

.member {
    width: 32%;
    height: 32%;

    .profile-pic {
        transition: 0.25s;
        font-size: 1.75em;
        background-size: 100%;
    }

    .profile-pic:hover {
        box-shadow: 4px;
    }

    @media (max-width: 720px) {
        width: 49%;
        height: 49%;

        .profile-pic, .front, .back {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .flip-container {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
        margin-right: 15px;
    }

    .profile-pic, .front, .back {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.card-link:hover {
    color: black;
}

.paragraph-text {
    width: 60%;
    min-width: 200px;
    margin-bottom: 20px;
}

footer {

    a {
        color: $primary_color;
    }

    a:hover {
        color: gray !important;
    }

    div {
        text-align: center !important;
    }

    .bs-docs-footer-links {
        padding-left: 0;
        margin-bottom: 20px;
    }
    .bs-docs-footer-links li {
        display: inline-block;
    }
    .bs-docs-footer-links li + li {
        margin-left: 15px;
    }

    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(238, 56, 36);
    background-color: white !important;
}
