{% extends 'base.html' %}

{% block contact-tab %}
active
{% endblock %}

{% block content %}
<div class='section' id='contact_header'>
    <h1>Contact Us</h1>
    <h3></h3>
</div>
<div class='row justify-content-left' id='members'>
    <div class='col-1 span-1'></div>
    <div class='col-8 sqs-col-6 span-8'>
        <div class='sqs-block html-block sqs-block-html'>
            &ensp;
            <h2>
                Send us an email!
            </h2>
        </div>
    </div>
</div>
<hr>
&ensp;
<div class='row content-justified-center'>
    <div class='col-1 span-1'></div>
    <div class='col-8'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-outline-primary">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
