{% extends 'base.html'%}
{% load static %}

{% block index-tab %}
    active
{% endblock %}

{% block content %}
<div class='section' id='main-content'>
    <h1>asdf</h1>
    <!-- <div>
        <img src='{% static 'img/icon.jpg' %}'></img>
    </div> -->
    <!-- <div>
        <iframe width="85%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/310514271&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>    <hr>
    </div> -->
    <h6>© 2017 Dream Easy Collective. All rights reserved</h6>
</div>
<div class='row' id='index'>
    <div class='col sqs-col-1 span-1'>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
            <div class='sqs-block-content'></div>
        </div>
        <div class='sqs-block'>
            &ensp;
            <h1>
                LATEST <strong>RELEASES</strong>
            </h1>
            <h3>
                hello
            </h3>
        </div>
        <div class='sqs-block'>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/360802745&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
        </div>
    </div>
    <div class='col sqs-col-6 span-6'>
        <div class='sqs-block'>
            &ensp;
            <h1>
                SOTIFY <strong>PLAYLIST</strong>
            </h1>
            <h3>
                Just for you ;)
            </h3>
        </div>
        <div class='sqs-block'>
            <iframe src="https://open.spotify.com/embed?uri=spotify:track:2yuM3iVvrDQ5g0in42E6Un" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
</div>
{% endblock content %}
