@font-face {
  font-family: 'amarillo';
  src: url("/static/fonts/amarillo/Amarillo.otf");
  src: url("/static/fonts/amarillo/Amarillo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 80, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 89, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 171, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 175, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 179, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 184, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 188, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 194, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 198, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 1, ../sass/_index.scss */
#main-content {
  background-image: url("https://hdwallsource.com/img/2014/9/oregon-wallpaper-21358-21895-hd-wallpapers.jpg");
  background-attachment: fixed;
  color: white;
}
/* line 6, ../sass/_index.scss */
#main-content img {
  width: 30%;
  max-width: 150px;
  margin: auto;
}

/* line 15, ../sass/_index.scss */
#index strong {
  font-weight: bold;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1em;
}
/* line 23, ../sass/_index.scss */
#index h1 {
  text-transform: !important;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  letter-spacing: .03em;
  text-transform: none;
}
/* line 33, ../sass/_index.scss */
#index h3 {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 5, ../sass/main.scss */
html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: #212121;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 20, ../sass/main.scss */
sqs-block {
  position: relative;
  height: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
  transition: box-shadow .2s ease-in-out;
}

/* line 30, ../sass/main.scss */
a {
  text-decoration: none !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 35, ../sass/main.scss */
strong {
  color: #00355f;
}

/* line 39, ../sass/main.scss */
.nanobar {
  width: 100%;
  height: 4px;
  z-index: 9999;
  top: 0;
}

/* line 45, ../sass/main.scss */
.bar {
  width: 0;
  height: 100%;
  transition: height .3s;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 3s ease infinite;
  -z-animation: rainbow 3s ease infinite;
  -o-animation: rainbow 3s ease infinite;
  animation: rainbow 3s ease infinite;
}
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
/* line 53, ../sass/main.scss */
.navbar {
  border: 0px;
  background-color: transparent !important;
  min-height: 0;
}
/* line 58, ../sass/main.scss */
.navbar a {
  background-color: white !important;
}
/* line 62, ../sass/main.scss */
.navbar .navbar-toggler {
  margin: auto;
  border: 0px;
  font-weight: 700;
}
/* line 68, ../sass/main.scss */
.navbar .collapse {
  text-align: center !important;
}

/* line 73, ../sass/main.scss */
.nav-divider {
  z-index: -200;
  width: 85%;
  margin: auto;
  border-bottom: 2px solid #eee !important;
  line-height: 3em;
  margin-top: -2.3em;
  margin-bottom: 3em;
  font-size: 12px;
}

/* line 84, ../sass/main.scss */
.header {
  background-image: url("https://ak2.picdn.net/shutterstock/videos/1457272/thumb/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  height: 80vh;
}

/* line 92, ../sass/main.scss */
.autoscroll {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
}
/* line 98, ../sass/main.scss */
.autoscroll a {
  bottom: 0;
  color: white;
  text-decoration: none;
}
/* line 104, ../sass/main.scss */
.autoscroll .scrollbox {
  top: 0;
}
/* line 107, ../sass/main.scss */
.autoscroll .scrollbox .glyphicon {
  font-size: 25px;
}
/* line 112, ../sass/main.scss */
.autoscroll .scrolldown {
  font-size: 3em;
  position: absolute;
  margin-left: -19px;
  margin-bottom: -14px;
}
/* line 119, ../sass/main.scss */
.autoscroll .scrolldownarrow {
  font-size: 1.3em;
  z-index: -1;
  display: block;
}

/* line 126, ../sass/main.scss */
hr {
  color: #BDBDBD;
  display: block;
  width: 85%;
  margin: auto;
  height: 3px;
  border: 0;
  border-top: 2px solid #eee;
  padding: 0;
}

/* line 138, ../sass/main.scss */
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.20;
  font-weight: 700;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 150, ../sass/main.scss */
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 162, ../sass/main.scss */
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 174, ../sass/main.scss */
span, p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -0.06px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
}

/* line 185, ../sass/main.scss */
.title {
  padding: 24px 24px;
  color: #f28b8d !important;
  font-weight: 100;
  font-family: "amarillo", sans-serif;
  line-height: 1.20;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 5vh;
  margin-bottom: 10px;
}

/* line 203, ../sass/main.scss */
.paper {
  text-align: center;
  position: relative;
}

/* line 210, ../sass/main.scss */
.content h6 {
  font-size: 0.9em;
  margin-top: 45px;
  margin-bottom: 60px;
}

/* line 217, ../sass/main.scss */
#social-links {
  font-size: 1.5em !important;
  width: 120px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 70px;
}
/* line 224, ../sass/main.scss */
#social-links a {
  color: #212121;
}
/* line 228, ../sass/main.scss */
#social-links a:hover {
  color: #9E9E9E;
}

/* line 233, ../sass/main.scss */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 240, ../sass/main.scss */
.text-container {
  color: #ffffff;
}

/* line 244, ../sass/main.scss */
.row {
  flex-direction: row;
}

/* line 248, ../sass/main.scss */
.section {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* line 259, ../sass/main.scss */
.section:first-child {
  height: 90vh;
}

/* line 263, ../sass/main.scss */
.section:not(:first-child) {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}

/* line 269, ../sass/main.scss */
.member {
  width: 32%;
  height: 32%;
}
/* line 273, ../sass/main.scss */
.member .profile-pic {
  transition: 0.25s;
  font-size: 1.75em;
  background-size: 100%;
}
/* line 279, ../sass/main.scss */
.member .profile-pic:hover {
  box-shadow: 4px;
}
@media (max-width: 720px) {
  /* line 269, ../sass/main.scss */
  .member {
    width: 49%;
    height: 49%;
  }
  /* line 288, ../sass/main.scss */
  .member .profile-pic img, .member .front img, .member .back img {
    width: 100%;
    height: auto;
  }
}
/* line 295, ../sass/main.scss */
.member .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-right: 15px;
}
/* line 304, ../sass/main.scss */
.member .profile-pic img, .member .front img, .member .back img {
  width: 100%;
  height: auto;
}

/* line 311, ../sass/main.scss */
.card-link:hover {
  color: black;
}

/* line 315, ../sass/main.scss */
.paragraph-text {
  width: 60%;
  min-width: 200px;
  margin-bottom: 20px;
}

/* line 321, ../sass/main.scss */
footer {
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ee3824;
  background-color: white !important;
}
/* line 323, ../sass/main.scss */
footer a {
  color: #f28b8d;
}
/* line 327, ../sass/main.scss */
footer a:hover {
  color: gray !important;
}
/* line 331, ../sass/main.scss */
footer div {
  text-align: center !important;
}
/* line 335, ../sass/main.scss */
footer .bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 339, ../sass/main.scss */
footer .bs-docs-footer-links li {
  display: inline-block;
}
/* line 342, ../sass/main.scss */
footer .bs-docs-footer-links li + li {
  margin-left: 15px;
}
