@font-face {
  font-family: 'amarillo';
  src: url("/static/fonts/amarillo/Amarillo.otf");
  src: url("/static/fonts/amarillo/Amarillo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 257, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 266, ../sass/_mixins.scss */
.noselect-recursive,
.noselect-recursive *,
.noselect-recursive * * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 377, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 382, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 387, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 392, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 397, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 404, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 409, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@font-face {
  font-family: 'amarillo';
  src: url("/static/fonts/amarillo/Amarillo.otf");
  src: url("/static/fonts/amarillo/Amarillo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 257, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 266, ../sass/_mixins.scss */
.noselect-recursive,
.noselect-recursive *,
.noselect-recursive * * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 377, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 382, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 387, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 392, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 397, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 404, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 409, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 4, ../sass/_index.scss */
#main-content {
  background-image: url("https://hdwallsource.com/img/2014/9/oregon-wallpaper-21358-21895-hd-wallpapers.jpg");
  background-attachment: fixed;
  color: white;
}
/* line 9, ../sass/_index.scss */
#main-content h3 {
  font-weight: bold;
  font-size: 0.9em;
  margin-top: -10px;
}
/* line 15, ../sass/_index.scss */
#main-content img {
  width: 30%;
  max-width: 150px;
  margin: auto;
}

/* line 22, ../sass/_index.scss */
#index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 28, ../sass/_index.scss */
#index #soundcloud-embeds {
  min-width: 400px;
}
@media screen and (max-width: 782px) {
  /* line 33, ../sass/_index.scss */
  #index .spacer {
    display: none;
  }
}
/* line 38, ../sass/_index.scss */
#index strong {
  font-weight: bold;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1em;
}
/* line 46, ../sass/_index.scss */
#index h1 {
  color: #212121 !important;
  text-transform: !important;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  letter-spacing: .03em;
  text-transform: none;
}
/* line 57, ../sass/_index.scss */
#index h2 {
  color: #212121 !important;
  text-transform: !important;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  letter-spacing: .03em;
  text-transform: none;
}
/* line 68, ../sass/_index.scss */
#index h3 {
  color: #f2af7a;
  font-weight: bold;
  font-size: 0.9em;
}

/* line 1, ../sass/_members.scss */
#members_header {
  background-image: url("https://www.walldevil.com/wallpapers/a78/winter-shift-mountains-snow-resort-city-background-wallpaper-image.jpg");
  background-attachment: fixed;
  background-position: center 70%;
  padding-bottom: 86px;
  color: white;
}
/* line 9, ../sass/_members.scss */
#members_header h1 {
  font-size: 2em;
  letter-spacing: .1em;
}
/* line 14, ../sass/_members.scss */
#members_header h3 {
  font-weight: bold;
  font-size: 0.9em;
  margin-top: -10px;
}

/* line 22, ../sass/_members.scss */
#members .member {
  width: 25%;
  height: 25%;
  text-align: center;
}
/* line 27, ../sass/_members.scss */
#members .member h3 {
  color: black;
}
/* line 32, ../sass/_members.scss */
#members .member .profile-pic {
  transition: 0.25s;
  font-size: 1.75em;
  background-size: 100%;
}
/* line 37, ../sass/_members.scss */
#members .member .profile-pic :hover {
  opacity: .5;
}
/* line 42, ../sass/_members.scss */
#members .member .profile-pic:hover {
  box-shadow: 4px;
}
@media (max-width: 720px) {
  /* line 22, ../sass/_members.scss */
  #members .member {
    width: 49%;
    height: auto;
    margin: auto;
  }
  /* line 52, ../sass/_members.scss */
  #members .member .profile-pic img, #members .member .front img, #members .member .back img {
    width: 100%;
    height: auto;
  }
}
/* line 59, ../sass/_members.scss */
#members .member .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-right: 15px;
}
/* line 68, ../sass/_members.scss */
#members .member .profile-pic img, #members .member .front img, #members .member .back img {
  width: 100%;
  height: auto;
}
/* line 75, ../sass/_members.scss */
#members strong {
  font-weight: bold;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1em;
}
/* line 83, ../sass/_members.scss */
#members h1 {
  color: #212121 !important;
  text-transform: !important;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  letter-spacing: .03em;
  text-transform: none;
}
/* line 94, ../sass/_members.scss */
#members h2 {
  font-size: 1.5em;
  color: #212121 !important;
  text-transform: !important;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
}
/* line 104, ../sass/_members.scss */
#members h3 {
  color: #f2af7a;
  font-weight: bold;
  font-size: 0.9em;
}

/* line 1, ../sass/_contact.scss */
#contact_header {
  background-image: url("https://www.walldevil.com/wallpapers/a78/winter-shift-mountains-snow-resort-city-background-wallpaper-image.jpg");
  background-attachment: fixed;
  background-position: center 70%;
  padding-bottom: 86px;
  color: white;
}
/* line 9, ../sass/_contact.scss */
#contact_header h1 {
  font-size: 2em;
  letter-spacing: .1em;
}
/* line 14, ../sass/_contact.scss */
#contact_header h3 {
  font-weight: bold;
  font-size: 0.9em;
  margin-top: -10px;
}

/* line 8, ../sass/main.scss */
html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: #212121;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 2, ../sass/_mixins.scss */
.__container {
  overflow: hidden;
  height: 55px;
  padding: 0;
}
/* line 7, ../sass/_mixins.scss */
.__container .__list {
  margin-bottom: 0;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
/* line 17, ../sass/_mixins.scss */
.__container .__list .__item {
  line-height: 60px;
  margin: 0;
}

@-webkit-keyframes change {
  0%,
        100%,
        12.66% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
        29.32% {
    transform: translate3d(0, -33%, 0);
  }
  33.32%,
        45.98% {
    transform: translate3d(0, -66%, 0);
  }
  49.98%,
        62.64% {
    transform: translate3d(0, -100%, 0);
  }
  66.64%,
        79.3% {
    transform: translate3d(0, -66%, 0);
  }
  83.3%,
        95.96% {
    transform: translate3d(0, -33%, 0);
  }
}
@-o-keyframes change {
  0%,
        100%,
        12.66% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
        29.32% {
    transform: translate3d(0, -33%, 0);
  }
  33.32%,
        45.98% {
    transform: translate3d(0, -66%, 0);
  }
  49.98%,
        62.64% {
    transform: translate3d(0, -100%, 0);
  }
  66.64%,
        79.3% {
    transform: translate3d(0, -66%, 0);
  }
  83.3%,
        95.96% {
    transform: translate3d(0, -33%, 0);
  }
}
@-moz-keyframes change {
  0%,
        100%,
        12.66% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
        29.32% {
    transform: translate3d(0, -33%, 0);
  }
  33.32%,
        45.98% {
    transform: translate3d(0, -66%, 0);
  }
  49.98%,
        62.64% {
    transform: translate3d(0, -100%, 0);
  }
  66.64%,
        79.3% {
    transform: translate3d(0, -66%, 0);
  }
  83.3%,
        95.96% {
    transform: translate3d(0, -33%, 0);
  }
}
@keyframes change {
  0%,
        100%,
        12.66% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
        29.32% {
    transform: translate3d(0, -100%, 0);
  }
  33.32%,
        45.98% {
    transform: translate3d(0, -200%, 0);
  }
  49.98%,
        62.64% {
    transform: translate3d(0, -300%, 0);
  }
  66.64%,
        79.3% {
    transform: translate3d(0, -200%, 0);
  }
  83.3%,
        95.96% {
    transform: translate3d(0, -100%, 0);
  }
}
/* line 26, ../sass/main.scss */
.sqs-block {
  position: relative;
  height: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
  transition: box-shadow .2s ease-in-out;
}

/* line 36, ../sass/main.scss */
.sqs-col-6 {
  width: 50%;
}

/* line 40, ../sass/main.scss */
a {
  text-decoration: none !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 49, ../sass/main.scss */
.nanobar {
  width: 100%;
  height: 3px;
  z-index: 9999;
  top: 0;
}

/* line 55, ../sass/main.scss */
.bar {
  width: 0;
  height: 100%;
  transition: height .3s;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 3s ease infinite;
  -z-animation: rainbow 3s ease infinite;
  -o-animation: rainbow 3s ease infinite;
  animation: rainbow 3s ease infinite;
}
@-webkit-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
/* line 63, ../sass/main.scss */
.navbar {
  border: 0px;
  background-color: transparent !important;
  min-height: 0;
  padding-bottom: 10px;
}
/* line 69, ../sass/main.scss */
.navbar a {
  font-size: 0.9em;
  font-weight: bold;
  background-color: white !important;
}
/* line 75, ../sass/main.scss */
.navbar button {
  font-size: 1.2em;
  font-weight: bold !important;
  padding: 0 26px 0 26px;
  background-color: white !important;
}
/* line 82, ../sass/main.scss */
.navbar .navbar-toggler {
  margin: auto;
  border: 0px;
  font-weight: 700;
}
/* line 88, ../sass/main.scss */
.navbar .collapse {
  text-align: center;
}

/* line 93, ../sass/main.scss */
.nav-divider {
  z-index: -200;
  width: 85%;
  margin: auto;
  border-bottom: 2px solid #BDBDBD !important;
  line-height: 3em;
  margin-top: -2.3em;
  margin-bottom: 4em;
  font-size: 12px;
}

/* line 104, ../sass/main.scss */
hr {
  color: #BDBDBD;
  display: block;
  width: 85%;
  margin: auto;
  height: 3px;
  border: 0;
  border-top: 2px solid #e3e3e3;
  padding: 0;
}

/* line 116, ../sass/main.scss */
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.20;
  font-weight: 700;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 128, ../sass/main.scss */
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 140, ../sass/main.scss */
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 152, ../sass/main.scss */
span {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -0.06px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
}

/* line 163, ../sass/main.scss */
.title {
  padding: 24px 24px;
  color: #f28b8d !important;
  font-weight: 100;
  text-align: center;
  font-family: "amarillo", sans-serif;
  line-height: 1.20;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 5vh;
  margin-bottom: 10px;
}

/* line 178, ../sass/main.scss */
.content {
  padding-bottom: 46px;
}
/* line 181, ../sass/main.scss */
.content h6 {
  font-size: 0.9em;
  margin-top: 45px;
  margin-bottom: 60px;
}

/* line 188, ../sass/main.scss */
#social-links {
  font-size: 1.5em !important;
  width: 120px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 45px;
}
/* line 195, ../sass/main.scss */
#social-links a {
  color: #212121;
}
/* line 199, ../sass/main.scss */
#social-links a:hover {
  color: #9E9E9E;
}

/* line 204, ../sass/main.scss */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 211, ../sass/main.scss */
.text-container {
  color: #ffffff;
}

/* line 215, ../sass/main.scss */
.row {
  flex-direction: row;
}

/* line 219, ../sass/main.scss */
.section {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* line 230, ../sass/main.scss */
.section:first-child {
  height: 90vh;
}

/* line 234, ../sass/main.scss */
.section:not(:first-child) {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}

/* line 240, ../sass/main.scss */
.card-link:hover {
  color: black;
}

/* line 244, ../sass/main.scss */
.paragraph-text {
  width: 60%;
  min-width: 200px;
  margin-bottom: 20px;
}

/* line 250, ../sass/main.scss */
footer {
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ee3824;
  background-color: white !important;
}
/* line 252, ../sass/main.scss */
footer a {
  color: #f28b8d;
}
/* line 256, ../sass/main.scss */
footer a:hover {
  color: gray !important;
}
/* line 260, ../sass/main.scss */
footer div {
  text-align: center !important;
}
/* line 264, ../sass/main.scss */
footer .bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 268, ../sass/main.scss */
footer .bs-docs-footer-links li {
  display: inline-block;
}
/* line 271, ../sass/main.scss */
footer .bs-docs-footer-links li + li {
  margin-left: 15px;
}
