@font-face {
  font-family: 'amarillo';
  src: url("/static/fonts/amarillo/Amarillo.otf");
  src: url("/static/fonts/amarillo/Amarillo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 51, ../sass/_mixins.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 60, ../sass/_mixins.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 142, ../sass/_mixins.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 146, ../sass/_mixins.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 150, ../sass/_mixins.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 155, ../sass/_mixins.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 159, ../sass/_mixins.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 165, ../sass/_mixins.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 169, ../sass/_mixins.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 3, ../sass/main.scss */
html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 17, ../sass/main.scss */
a {
  text-decoration: none !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 22, ../sass/main.scss */
strong {
  color: #00355f;
}

/* line 27, ../sass/main.scss */
.navbar {
  border: 0px;
  background-color: transparent !important;
  min-height: 0;
}
/* line 32, ../sass/main.scss */
.navbar .navbar-toggler {
  margin: auto;
  border: 0px;
  font-weight: 700;
}
/* line 38, ../sass/main.scss */
.navbar .collapse {
  text-align: center !important;
}

/* line 62, ../sass/main.scss */
#main-content img {
  width: 25vh;
  margin: auto;
}

/* line 68, ../sass/main.scss */
.header {
  background-image: url("https://ak2.picdn.net/shutterstock/videos/1457272/thumb/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  height: 80vh;
}

/* line 76, ../sass/main.scss */
.autoscroll {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
}
/* line 82, ../sass/main.scss */
.autoscroll a {
  bottom: 0;
  color: white;
  text-decoration: none;
}
/* line 88, ../sass/main.scss */
.autoscroll .scrollbox {
  top: 0;
}
/* line 91, ../sass/main.scss */
.autoscroll .scrollbox .glyphicon {
  font-size: 25px;
}
/* line 96, ../sass/main.scss */
.autoscroll .scrolldown {
  font-size: 3em;
  position: absolute;
  margin-left: -19px;
  margin-bottom: -14px;
}
/* line 103, ../sass/main.scss */
.autoscroll .scrolldownarrow {
  font-size: 1.3em;
  z-index: -1;
  display: block;
}

/* line 110, ../sass/main.scss */
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.20;
  font-weight: 700;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 122, ../sass/main.scss */
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 134, ../sass/main.scss */
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 146, ../sass/main.scss */
span, p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -0.06px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
}

/* line 157, ../sass/main.scss */
.title {
  color: #3a9ee4 !important;
  font-weight: 100;
  font-family: "amarillo", sans-serif;
  line-height: 1.20;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 5vh;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  /* line 170, ../sass/main.scss */
  html, .noise-bg {
    width: 100%;
    overflow: auto;
    background: #FFF;
    background-image: url("../img/noise.png");
    background-size: 150px 150px, 150% 150%;
    background-color: #f7f7f7;
  }
  /* line 178, ../sass/main.scss */
  html .paper, .noise-bg .paper {
    padding: 25px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.12), 0 1px 2px rgba(50, 50, 50, 0.24);
    width: 80%;
    max-width: 1100px;
    margin: 7.5vh auto;
    height: 100%;
  }
}
/* line 193, ../sass/main.scss */
.paper {
  text-align: center;
  position: relative;
}

/* line 200, ../sass/main.scss */
.content h6 {
  font-size: 0.9em;
  margin-top: 45px;
  margin-bottom: 60px;
}

/* line 207, ../sass/main.scss */
#social-links {
  font-size: 1.5em !important;
  width: 120px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 70px;
}
/* line 214, ../sass/main.scss */
#social-links a {
  color: #292b2c;
}
/* line 218, ../sass/main.scss */
#social-links a:hover {
  color: #3a9ee4;
}

/* line 223, ../sass/main.scss */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 230, ../sass/main.scss */
.text-container {
  color: #ffffff;
}

/* line 234, ../sass/main.scss */
.row {
  flex-direction: row;
}

/* line 238, ../sass/main.scss */
.section {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* line 249, ../sass/main.scss */
.section:first-child {
  height: 90vh;
}

/* line 253, ../sass/main.scss */
.section:not(:first-child) {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}

/* line 259, ../sass/main.scss */
.member {
  width: 32%;
  height: 32%;
}
/* line 264, ../sass/main.scss */
.member .profile-pic {
  transition: 0.25s;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.75em;
  background-size: 100%;
}
/* line 272, ../sass/main.scss */
.member .profile-pic:hover {
  box-shadow: 4px;
}
@media (max-width: 720px) {
  /* line 259, ../sass/main.scss */
  .member {
    width: 49%;
    height: 49%;
  }
  /* line 281, ../sass/main.scss */
  .member .profile-pic img, .member .front img, .member .back img {
    width: 100%;
    height: auto;
  }
}
/* line 288, ../sass/main.scss */
.member .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-right: 15px;
}
/* line 297, ../sass/main.scss */
.member .profile-pic img, .member .front img, .member .back img {
  width: 100%;
  height: auto;
}

/* line 304, ../sass/main.scss */
.card-link:hover {
  color: black;
}

/* line 308, ../sass/main.scss */
.paragraph-text {
  width: 60%;
  min-width: 200px;
  margin-bottom: 20px;
}

/* line 314, ../sass/main.scss */
footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ee3824;
  background-color: white !important;
}
/* line 316, ../sass/main.scss */
footer a {
  color: #3a9ee4;
}
/* line 320, ../sass/main.scss */
footer a:hover {
  color: gray !important;
}
/* line 324, ../sass/main.scss */
footer div {
  text-align: center !important;
}
/* line 328, ../sass/main.scss */
footer .bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 332, ../sass/main.scss */
footer .bs-docs-footer-links li {
  display: inline-block;
}
/* line 335, ../sass/main.scss */
footer .bs-docs-footer-links li + li {
  margin-left: 15px;
}
